

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(type="text/javascript" src="/static/js/index.js")
script(type="text/javascript" src="/static/js/ajax.js")
script(type="text/javascript" src="/static/js/slideshow.js")
